$list-margin-bottom: 1.5rem;
$list-margin-top: 0;

$list-list-margin-bottom: .5rem;

ol,
ul {
  margin-bottom: $list-margin-bottom;
  margin-top: $list-margin-top;

  ol,
  ul {
    margin-bottom: $list-list-margin-bottom;
  }

}
