.menu {

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .page_item {

    &_has_children {
      position: relative;

      &:hover {

        > .children {
          display: block;
        }

      }

    }

  }

  .children {
    display: none;
    position: absolute;
  }

}
