:root {
	--anchorColor: #3e9487;
	--anchorTextDecoration: none;

	--anchorHoverColor: #2f7066;
}

a {
	background-color: transparent;
	border: 0;
	color: var(--anchorColor);
	outline: 0;
	text-decoration: var(--anchorTextDecoration);
	transition: background-color .3s, color .3s;
}

a:focus,
a:hover {
	color: var(--anchorHoverColor);
}
