:root {
	--blockquoteBorderLeftColor: #222;
	--blockquoteBorderLeftWidth: 3px;
	--blockquoteMarginBottom: 1.5rem;
	--blockquoteMargin: 0;
	--blockquotePaddingLeft: 1rem;
}

blockquote {
	border-left: var(--blockquoteBorderLeftWidth) solid var(--blockquoteBorderLeftColor);
	margin: var(--blockquoteMargin);
}

blockquote p {
	font-style: italic;
}
