:root {
	--codeFontFamily: 'Courier New';
	--codeFontFamilyFallback: monospace;
	--codeFontSize: .75em;

	--preBgColor: #f5f5f5;
	--preMarginBottom: 1.5rem;
	--preMarginTop: 0;
	--prePadding: 1rem;
	--preTabSize: 2;
}

code {
	font-family: var(--codeFontFamily), var(--codeFontFamilyFallback);
	font-size: var(--codeFontSize);
}

pre {
	background-color: var(--preBgColor);
	display: block;
	margin-bottom: var(--preMarginBottom);
	margin-top: var(--preMarginTop);
	overflow: auto;
	padding: var(--prePadding);
	tab-size: var(--preTabSize);
	word-break: break-all;
}
