.comments-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment {
}

.comment.even {
}

.comment.odd {
}

.comment-respond {
}

.comment-form {
}

.comment-formtextarea {
	padding: 0.25rem 0.5rem;
}

.comment-form .submit {
	padding: 0.25rem 1rem;
}

.comment-author {
}

.comment-meta {
}
