.comments-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment {

}

.comment.even {

}

.comment.odd {

}

.comment-respond {

}

.comment-form {

}

.comment-formtextarea {
	padding: .25rem .5rem;
}

.comment-form .submit {
	padding: .25rem 1rem;
}

.comment-author {

}

.comment-meta {

}
