.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
}

.gallery-item:hover .gallery-caption {
  transform: translateY(0);
}

.gallery-columns-2 {

}

.gallery-columns-2 .gallery-item {
  flex-basis: calc(100% / 2);
}

.gallery-columns-3 {

}

.gallery-columns-3 .gallery-item {
  flex-basis: calc(100% / 3);
}

.gallery-columns-4 {

}

.gallery-columns-4 .gallery-item {
  flex-basis: calc(100% / 4);
}

.gallery-columns-5 {

}

.gallery-columns-5 .gallery-item {
  flex-basis: calc(100% / 5);
}

.gallery-columns-6 {

}

.gallery-columns-6 .gallery-item {
  flex-basis: calc(100% / 6);
}

.gallery-columns-7 {

}

.gallery-columns-7 .gallery-item {
  flex-basis: calc(100% / 7);
}

.gallery-columns-8 {

}

.gallery-columns-8 .gallery-item {
  flex-basis: calc(100% / 8);
}

.gallery-columns-9 {

}

.gallery-columns-9 .gallery-item {
  flex-basis: calc(100% / 9);
}

.gallery-caption {
  background-color: rgba(#000, .8);
  bottom: 0;
  color: #fff;
  font-size: .75rem;
  left: 0;
  padding-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  position: absolute;
  transform: translateY(100%);
  transition: transform .3s;
  width: 100%;
}
