.gallery {
  clear: both;
  overflow: hidden;
}

.gallery-item {
  float: left;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

}

.gallery-item:hover .gallery-caption {
  transform: translateY(0);
}

.gallery-columns-2 {

  .gallery-item {
    width: (100% / 2);
  }

}

.gallery-columns-3 {

  .gallery-item {
    width: (100% / 3);
  }

}

.gallery-columns-4 {

  .gallery-item {
    width: (100% / 4);
  }

}

.gallery-columns-5 {

  .gallery-item {
    width: (100% / 5);
  }

}

.gallery-columns-6 {

  .gallery-item {
    width: (100% / 6);
  }

}

.gallery-columns-7 {

  .gallery-item {
    width: (100% / 7);
  }

}

.gallery-columns-8 {

  .gallery-item {
    width: (100% / 8);
  }

}

.gallery-columns-9 {

  .gallery-item {
    width: (100% / 9);
  }

}

.gallery-caption {
  background-color: rgba(#000, .8);
  bottom: 0;
  color: #fff;
  font-size: .75rem;
  left: 0;
  padding-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .25rem;
  position: absolute;
  transform: translateY(100%);
  transition: transform .3s;
  width: 100%;
}
