.menu {

}

.menu ul {
  display: flex;
  list-style: none;
  margin: -0.5rem;
  padding: 0;
}

.menu .page_item {
  margin: 0.5rem;
}

.menu .page_item_has_children {
  position: relative;
}

.menu .page_item_has_children:hover > .children {
  display: block;
}

.menu .children {
  display: none;
  position: absolute;
}
