.menu {

}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu .page_item {

}

.menu .page_item_has_children {
  position: relative;
}

.menu .page_item_has_children:hover > .children {
  display: block;
}

.menu .children {
  display: none;
  position: absolute;
}
