:root {
	--paginationItemMargin: 0.5rem;
	--paginationLinkPaddingHorizontal: 0.5rem;
	--paginationLinkPaddingVertical: 0.25rem;
}

.pagination .nav-links {
	display: flex;
	justify-content: center;
}

.pagination .page-numbers {
	display: inline-block;
	padding: var(--paginationLinkPaddingVertical) var(--paginationLinkPaddingHorizontal);
}

.pagination .page-numbers.current {
	font-weight: 700;
}
