.post {
  margin-bottom: 6rem;
}

.post header {

}

.post footer {

}

.post .title {

}

.post .info {

}

.post-edit-link {

}

.post-categories {
  font-size: .875rem;
  list-style: none;
  margin: -.5rem;
  padding: 0;
}

.post-categories li {
  display: inline-block;
  margin: .5rem;
}

.post-tags {
  font-size: .875rem;
  list-style: none;
  margin: -.5rem;
  padding: 0;
}

.post-tags li {
  display: inline-block;
  margin: .5rem;
}

.wp-caption {
  max-width: 100%;
}
