:root {
	--paragraphMarginBottom: 1.5rem;
	--paragraphMarginTop: 0;
}

b,
strong {
	font-weight: bolder;
}

p {
	margin-bottom: var(--paragraphMarginBottom);
	margin-top: var(--paragraphMarginTop);
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}
