$html-font-size: 100%;

$body-font-family-fallback: sans-serif;
$body-font-family: Roboto;
$body-font-size: 1rem;
$body-font-weight: 400;
$body-line-height: 1.5;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  height: 100%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: $body-font-family, $body-font-family-fallback;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  margin: 0;
  min-height: 100%;
}
