$html-font-size: 100%;

$base-font-family-fallback: sans-serif;
$base-font-family: Roboto;
$base-font-size: 1rem;
$base-font-weight: 400;
$base-line-height: 1.5;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  height: 100%;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  font-family: $base-font-family, $base-font-family-fallback;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  margin: 0;
  min-height: 100%;
}
