$footer-bgcolor: #3e9487;
$footer-color: #fafafa;
$footer-padding-bottom: 1rem;
$footer-padding-top: 1rem;

.footer {
  background-color: $footer-bgcolor;
  color: $footer-color;
  padding-bottom: $footer-padding-bottom;
  padding-top: $footer-padding-top;

  a {
    color: $footer-color;
  }

}
