$align-margin: 1rem;

.alignleft {
  float: left;
  margin-right: $align-margin;
}

.alignright {
  float: right;
  margin-left: $align-margin;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignnone {
  max-width: 100%;
}
