$grid-max-width: 1170px;
$grid-width: 90%;

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: $grid-max-width;
  width: $grid-width;
}

.grid-row {
  @include clearfix();
  margin: -1.5%;
}

.grid-col {
  float: left;
  margin: 1.5%;
}

.grid-col-3 {
  width: (100% / 12 * 3  - 3%);
}

.grid-col-4 {
  width: (100% / 12 * 4  - 3%);
}

.grid-col-8 {
  width: (100% / 12 * 8  - 3%);
}

.grid-col-9 {
  width: (100% / 12 * 9  - 3%);
}
