// Positioning //

.center {
  display: block;
  margin: 0 auto;
}

.fixed {
  position: fixed;
  transform: translate3d(0, 0, 0);
}

// Typography //

.lower {
  text-transform: lowercase;
}

.upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

// Visual //

.invisible {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
