// Base

$color: #686868;
$color-bg: #fafafa;

$color-headings: $color;

// Links

$color-link: #2980b9;
$color-link-active: lighten($color-link, $amount);
$color-link-hover: darken($color-link, $amount);

$color-outline: $color-link;

// Border

$color-border: #808080;
$color-border-hover: darken($color-border, $amount * 2);

// Buttons

$color-btn: #fff;
$color-btn-bg: #95a5a6;
$color-btn-hover: #fff;
$color-btn-hover-bg: darken($color-btn-bg, $amount);

$color-primary: $color-link;
$color-primary-active: lighten($color-primary, $amount);
$color-primary-hover: darken($color-primary, $amount);

$color-secondary: #9b59b6;
$color-secondary-active: lighten($color-secondary, $amount);
$color-secondary-hover: darken($color-secondary, $amount);

$color-success: #2ecc71;
$color-success-active: lighten($color-success, $amount);
$color-success-hover: darken($color-success, $amount);

$color-warning: #f1c40f;
$color-warning-active: lighten($color-warning, $amount);
$color-warning-hover: darken($color-warning, $amount);

$color-error: #e74c3c;
$color-error-active: lighten($color-error, $amount);
$color-error-hover: darken($color-error, $amount);

// Layout

$color-header-bg: #fafafa;
$color-footer-bg: #fafafa;

// Input

$color-input: $color-bg;
$color-input-bg: $color;

// Typography

$color-subline: #808080;
