:root {
	--gridColumns: 12;
	--gridGutter: 3%;
	--gridMaxWidth: 1170px;
	--gridWidth: 90%;
}

.grid {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--gridMaxWidth);
	width: var(--gridWidth);
}

.grid-row {
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--gridGutter) / -2);
}

.grid-col {
	flex-grow: 1;
	margin: calc(var(--gridGutter) / 2);
}

.grid-col-3 {
	flex-basis: calc(100% / var(--gridColumns) * 3  - var(--gridGutter));
}

.grid-col-4 {
	flex-basis: calc(100% / var(--gridColumns) * 4  - var(--gridGutter));
}

.grid-col-8 {
	flex-basis: calc(100% / var(--gridColumns) * 8  - var(--gridGutter));
}

.grid-col-9 {
	flex-basis: calc(100% / var(--gridColumns) * 9  - var(--gridGutter));
}
