:root {
  --gridColumns: 12;
  --gridGutter: 3%;
  --gridMaxWidth: 1170px;
  --gridWidth: 90%;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--gridMaxWidth);
  width: var(--gridWidth);
}

.grid-row {
  margin: calc(var(--gridGutter) / -2);
}

.grid-row::before,
.grid-row::after {
  content: ' ';
  display: table;
}

.grid-row::after {
  clear: both;
}

.grid-col {
  float: left;
  margin: calc(var(--gridGutter) / 2);
}

.grid-col-3 {
  width: calc(100% / var(--gridColumns) * 3  - var(--gridGutter));
}

.grid-col-4 {
  width: calc(100% / var(--gridColumns) * 4  - var(--gridGutter));
}

.grid-col-8 {
  width: calc(100% / var(--gridColumns) * 8  - var(--gridGutter));
}

.grid-col-9 {
  width: calc(100% / var(--gridColumns) * 9  - var(--gridGutter));
}
